<template>
    <div class="results-wrap">
        <h3>About {{ totalCount || '--' }} results</h3>
        <div>
            <div v-if="isLoading">Loading ...</div>
            <div v-if="isFailed" class="error-msg">Something went wrong, please try again later.</div>
        </div>
        <br />
        <div class="card mb-2" v-bind:key="video.id.videoId" v-for="video in videosList">
            <VideoCard v-bind:video="video"/>
        </div>
        <Pagination />
    </div>
</template>

<script>
	import { mapState } from 'vuex'
	import VideoCard from './VideoCard'
	import Pagination from './Pagination'

	export default {
		name: "SearchResults",
		computed: mapState({
			videosList: state => state.app?.videos?.list,
            totalCount: state => state.app?.videos?.meta?.totalCount,

            isFailed: state => state.app?.videos?.meta?.isFailed,
			isLoading: state => state.app?.videos?.meta?.isLoading,
			isCompleted: state => state.app?.videos?.meta?.isCompleted,
        }),
        components: {
            VideoCard,
			Pagination,
        },
	}
</script>

<style scoped lang="scss">
.results-wrap {
    width: 80%;
    margin: auto;
    .error-msg {
        padding: 5px 10px;
        border-radius: 3px;
        color: rgba(24, 1, 2, 0.93);
        background-color: rgba(224, 134, 141, 0.63);
    }
}
</style>