<template>
    <div class="search-result-card">
        <a :href="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">
            <img class="card-img-top" :src="video.snippet.thumbnails.medium.url" alt="YouTube thumbnail">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ video.snippet.title }}</h5>
            <h6
                    class="card-subtitle mb-2 text-muted"
            >{{ video.snippet.channelTitle }} | {{ video.snippet.publishedAt | formatDate }}</h6>
            <p class="card-text">{{ video.snippet.description }}</p>
        </div>
    </div>
</template>

<script>
	export default {
		name: "VideoCard",
        props: ['video']
	}
</script>

<style lang="scss">
    .search-result-card {
        margin-bottom: 10px;
        width: 100%;
        display: inline-block;

        > a {
            float: left;
            max-width: 220px;
            height: 120px;
            overflow: hidden;

            img {
               height: 100%
            }
            @media (max-width: 768px) {
                max-width: 35%;
                height: 60px;
            }
        }

        .card-body {
            float: left;
            padding: 0 15px;
            box-sizing: border-box;
            width: calc(100% - 220px);

            h5, h6 {
                margin: 0 0 10px;
            }
            .card-subtitle, p {
                font-weight: normal;
                color: #565655;
            }
            @media (max-width: 768px) {
                max-width: 65%;
                box-sizing: border-box;
            }
        }
    }
</style>
