<template>
    <header>
        <div class="header-wrap">
            <a class="main-logo" href="#">
                <img src="../../assets/yt_logo_rgb_light.png" width="90px"/>
            </a>
            <SearchField />
        </div>
    </header>
</template>

<script>
import SearchField from '../SearchField/SearchField';

export default {
    name: "Header",
    components: {
        SearchField,
    },
}
</script>

<style scoped>
    header {
        padding: 10px 20px;
        border-bottom: 1px solid cadetblue;
    }
    .header-wrap {
        width: 80%;
        margin: auto;
    }
    .main-logo {
        top: 7px;
        display: inline-block;
        position: relative;
    }
</style>