<template>
  <div id="app">
    <Header/>

    <SearchResults />
  </div>
</template>

<script>
  import Header from './components/Header/Header';
  import SearchResults from './components/SearchResults/SearchResults';

export default {
  name: 'App',
  components: {
    Header,
    SearchResults,
  }
}
</script>

<style>
body {
  margin: 0;
}
</style>
