<template>
    <span class="search-field">
        <input
                type="text"
                class="form-control"
                v-model="searchString"
                v-on:keyup.13="search"
                placeholder="Search ..."
        >

        <button v-on:click="search">
            <i class="fas fa-search"></i>
        </button>
    </span>
</template>

<script>
	export default {
		name: "SearchField",
		data() {
			return {
				searchString: ''
			};
		},
		methods: {
			search() {
				this.$store.dispatch("actionSearchYtVideos", { queryString: this.searchString, maxResults: 15 })
            },
        }
	}
</script>

<style scoped lang="scss">
    .search-field {
        margin-left: 150px;
        display: inline-block;
        border-radius: 3px;
        border: 1px solid #2e3d34;

        input {
            border: 0;
            padding: 0 10px;
            height: 30px;
            border-radius: 3px;
        }
        button {
            border: 0;
            height: 36px;
            padding: 8px 10px;
            border-radius: 3px;
        }

        @media (max-width: 768px) {
            margin-left: 20px;
            input {
                max-width: 90px;
            }
        }
    }
</style>